.top-padding {
    padding-top:120px;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

#middle-container{
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    display: inline;
}